<html>
<head>
	<title></title>
</head>
<body>
<h1>"Welcome to hang"</h1>
	<form action="/" method="post">
			<input type="text" name="letra">
			<input type="submit" id="btnEnviar" value="Enviar">
	</form>
<h2><%= @@palabra %> </h2>
</body>
</html>